<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p> <%= file.name %></p>
        <img src="<%= signedUrl %>" width="300px" height="300px"></p>
        <button onClick="window.location.href='<%= signedUrl%>&download='">download file</button> 
    </div>
</body>
</html>